# Optimized files
__pycache__

# Distribution/packaging
dist/
build/
*.egg*

# Coverage reports
htmlcov/
cover/
.coverage
.cache
*,cover

# virtualenv
env/
venv/

# Testing
.tox/
db.sqlite3

# Compiled static files
/static
/kilonull/static/static
